.home__body{

}

/* Header */
.home__body__header{
    background-color: var(--c_yellow);
    padding-bottom: 15px;
    text-align: center;
}

.home__body__header--container{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.home__body__header a{
    width: 50%;
}
.home__body__header--logo{
    width: 100%;
    padding: 5px;
}

.home__body__header form{
    display: flex;
    border-radius: 5px;
    height: 32px;
    padding: 5px;
    background-color: #fff;
    width: 45%;
    margin: 5px;
}

.home__body__header input{
    border: none;
    width: 85%;
}

.home__body__header button{
    width: 15%;
    border: none;
    background-color: #fff;
    color: var(--c_dark_gray);
}

.home__body__header__payment{
    text-align: center;
    padding-top: 5px ;
    padding-bottom: 20px;
    
}
.home__body__header__nav ul{
    padding: 10px;
    text-align: left;
    display: none;
}

.home__body__header__nav{
    padding-bottom: 20px;
}
#burger{
    background-color: var(--c_light_blue);
    display: flex;
    width: 48px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    
}
#burger i{
    font-size: 25px;
    color: white;
}


/* Main */

.home__body__main{
    background-color: var(--c_light_gray);
    padding-bottom: 10px;
}
.home__body__main h3{
    margin-top: 0 ;
    margin-left: 5%;
    padding: 10px 0;
    color: var(--c_dark_gray);
}
.home__body__main article{
    margin: 10px 5%;
    width: 90%;

}
.home__body__main img{
    text-align: center;
    background-color: white;
    width: 100%;
}
.home__body__main div{
    background-color: white;
    padding: 10px;
}

.home__body__main__section--description{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.home__body__main__section--description i{
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid var(--c_green);
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -15px;
        color: var(--c_green);
        
}


.home__body__main__section--articles--price{
    font-size: var(--fs_price);
    width: 30%;
    
}
.home__body__main__section--articles--discount{
    font-size: var(--fs_discount__description);
    color: var(--c_green);
    width: 70%;
}
.home__body__main__section--articles--description{
    font-size: var(--fs_discount__description);
    color: var(--c_dark_gray);
    display: none;
}

.home__body__main__section--off p{
    font-family: var(--fs_discount__description);
}
.home__body__main__section--articles--off--discount{
    color: var(--c_green);
}
/* Footer */
.home__body__footer{
    text-align: center;
}
.home__body__footer i{
    font-size: var(--fs_title);
    color: var(--c_light_blue);
    margin: 5px;
}
.home__body__footer h4{
    font-size: var(--fs_discount__description);
}
.home__body__footer div{
    margin: 35px;
}

/* TABLET */

@media(min-width: 768px){

/* Header */
/* Header principal */
.home__body__header--total{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding: 15px;
    align-items: center;
}
.home__body__header--container{
    width: 68%;
    align-items: center;
}

.home__body__header form{
    width: 47%;
    background-color: var(--c_yellow);
}

.home__body__header input{
    border: solid 1px var(--c_light_gray);
    width: 85%;
    margin-right: 2px;
    border-radius: 2px;
}

.home__body__header button{
    width: 10%;
    border: solid 1px var(--c_light_gray);
    background-color: #fff;
    color: var(--c_dark_gray);
    border-radius: 4px;
    
}

.home__body__header--total a{
    width: 50%;
}

.home__body__header--logo{
    width: 100%;
}

.home__body__header--total p{
    width: 32%;
    padding: 0;
}
/* Header nav */
    .home__body__header__nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px 0;
    }

    .home__body__header__nav ul{
        display: flex;
        flex-direction: row;
    }

    .home__body__header__nav ul li a{
        padding: 13px 5px;
    }

    #burger{
        display: none;
        
    }
/* Main */

.home__body__main__section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.home__body__main article{
    width: 40%;
}

.home__body__main__section--articles{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);    
}
.home__body__main__section--articles--description{
    padding: 10px 0;
}
.home__body__main__section--articles--description{
    font-size: var(--fs_discount__description);
    color: var(--c_dark_gray);
    display: flex;
}
}

/* DESKTOP */

@media(min-width: 1024px){

.home__body__main article{
    width: 20%;
    margin: 25px;
}
    
    .home__body__main__section--articles--discount{
        padding-left: 15%;
}
}